@import "../main.scss";

.arrow-button {
  text-decoration: none;
  display: flex;
  &--left {
    justify-content: start;
  }
  &--right {
    justify-content: space-between;
  }
  &--dark {
    color: $white-color;
  }
  &--light {
    color: $black-color;
  }

  &__text {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__image {
    margin-left: 22px;
  }
}
