@import "../main.scss";

.arrow-button {
  text-decoration: none;
  display: flex;
  &--dark {
    color: $pure-white;
  }
  &--light {
    color: $pure-black;
  }

  &__text {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__image {
    margin-left: 22px;
  }
}
