@import "../main.scss";

.button {
  width: 100%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  &--light {
    background-color: $white-color;
    color: $black-color;
  }
  &--dark {
    background-color: $black-color;
    color: $white-color;
  }
}
