@import "../main.scss";

.card {
  background-color: $black-color;
  &__image {
    display: block;
  }
  &__body {
    padding: 72px 32px;
    &--accent {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 128px;
        height: 6px;
        top: 0;
        left: 32px;
        background: linear-gradient(0.01turn, $accent-color);
      }
    }
  }
  &__title {
    color: $white-color;
    margin-bottom: 16px;
    &--dark {
      color: $white-color;
    }
    &--light {
      color: $black-color;
    }
  }
  &__description {
    color: $card-dark-color;
    margin-bottom: 24px;
    &--dark {
      color: $card-dark-color;
    }
    &--light {
      color: $card-light-color;
    }
  }
  &--dark {
    background-color: $black-color;
  }
  &--light {
    background-color: $white-color;
  }
}
