@import "../main.scss";

.card {
  background-color: $black-color;
  &__image {
    & img {
      display: block;
    }
  }
  &__body {
    padding: 72px 32px;
    &--accent {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 128px;
        height: 6px;
        top: 0;
        left: 32px;
        background: linear-gradient(0.01turn, $accent-color);
      }
    }
  }
  &__title {
    color: $white-color;
    margin-bottom: 16px;
    text-transform: uppercase;
    &--dark {
      color: $white-color;
    }
    &--light {
      color: $black-color;
    }
  }
  &__description {
    color: $card-dark-color;
    margin-bottom: 24px;
    &--dark {
      color: $card-dark-color;
    }
    &--light {
      color: $card-light-color;
    }
  }
  &--dark {
    background-color: $black-color;
  }
  &--light {
    background-color: $white-color;
  }
}

@media (min-width: $md-breakpoint) {
  .card {
    display: flex;
    &__image {
      width: 35%;
      &--left {
        order: 1;
      }
      &--right {
        order: -1;
      }
    }
    &__body {
      width: 65%;
      align-self: center;
      padding: 0 80px;
      &--accent {
        position: relative;
        &::before {
          width: 6px;
          height: auto;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
