@import "../main.scss";

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  &__black {
    color: $pure-black;
  }

  &__white {
    color: $pure-white;
  }
}
