@import "../main.scss";

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__black {
    color: $pure-black;
  }

  &__white {
    color: $pure-white;
  }
}
