@import "../main.scss";

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  &--navbar {
    background-color: $pure-white;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 32px;
  }

  &--footer {
    background-color: transparent;
    margin: 50px 0 120px;
    padding: 0;
  }

  &__link {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: $pure-black;
    text-transform: uppercase;
    text-decoration: none;
    &--navbar {
      color: $pure-black;
    }
    &--footer {
      color: $pure-white;
      font-size: 12px;
    }
  }

  &__hr {
    border: none;
    height: 1px;
    background-color: $hr-color;
    width: 100%;
  }
}
