@import "../../main.scss";

.card-top {
  background-color: $pure-black;
  &__body {
    padding: 72px 32px;
  }
  &__title {
    color: $pure-white;
    margin-bottom: 16px;
  }
  &__description {
    color: $card-color;
    margin-bottom: 23px;
  }
}
