@import "../../main.scss";

@media (min-width: $md-breakpoint) {
  .stories {
    &__stories-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .stories {
    &__stories-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
