@import "../../main.scss";

.hamburger {
  outline: none;
  background: none;
  border: 0;
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
