@import "../../main.scss";

.nav {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  background-color: $pure-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
}

.nav__link,
.nav__button {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link {
  color: $pure-black;
}

.nav__hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: $hr-color;
}

.nav__button {
  width: 100%;
  padding: 14px 0;
  background-color: $pure-black;
  color: $pure-white;
  text-align: center;
}
